body{
background-color: #6074AB;
    color: #fff;
font-family: Cambria;
}
h1{
background-color: black; 
border: #fff;
border-radius: 15px;
padding: 15px;
font-size: 4em;
}
h2{
    text-align:center;
    font-size: 1.6em
}
h3{
font-size: 1.4em;
border-left: double 20px rgb(rgb(3, 97, 147), green, blue);
}
p{
line-height: 2.2em;
font-size: 1.2em;
}
img{
    float:left;
border:rgb(0, 0, 0) solid 3px;
margin-right: 2.5px
}
a:link {
    color:rgb(192, 193, 194);
    text-decoration: none;}

a:visted {
    color:#51618e
}
a:hover {
    color:rgb(37, 46, 90)
}
a:active {
    color:#a9bdf6
}
#pic1{
    margin-right: 15px;
    margin-left: 15px;
    width: 175px;
}

#pic2{
    width:250px;
    margin-right: 15px;
    margin-left: 15px;
}
#pic3{
    width:250px;
}

#highlight{
    font-weight: bold;
    background-color:aliceblue
}

#container{
    width: 800px;
    background-color: rgb(76, 82, 131)
}
